<h1>Posts#index</h1>
<ul>
<% @post.each do | post | %>
    <li>
    <%= link_to post.title, post %>
    </li>
    <li>
     <%= post.body %>
     <button ><%= published_text(post.is_published) %></button>
    </li>
<%end %>
</ul>
<%= link_to "New Post", new_post_path %>
